bundled/protocol/
out
dist
node_modules
.vscode-test/
*.vsix
.venv/
.vs/
.nox/
bundled/libs/
**/__pycache__
**/.pytest_cache
build/
*.egg-info/
dbt_packages/
src/test/python_tests/test_data/dbt_project/target/
src/test/python_tests/test_data/dbt_project/logs/
**/.vs
.DS_Store
Thumbs.db
**/.ruff_cache/
.claude
