.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.js
**/*.ts
.venv/**
.nox/**
.github/
bundled/libs/bin/**
bundled/libs/*.dist-info/**
noxfile.py
.pytest_cache/**
.pylintrc
uv.lock
.mise.toml
**/tool/_debug_server.py
!pyproject.toml
!sqlfluff_lsp/**/*.py
.claude/**
**/__pycache__/**
**/*.pyc
**/*.egg-info/**