.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.ts
.venv/**
.nox/**
.github/
**/__pycache__/**
**/*.pyc
bundled/libs/bin/**
bundled/libs/*.dist-info/**
noxfile.py
.pytest_cache/**
.pylintrc
uv.lock
.mise.toml
**/tool/_debug_server.py
!sqlfluff_lsp/**
!pyproject.toml